<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6>Documentos para cada plan</h6>
                    <form action="{{ url_for('creditos.add_categorias_para_creditos') }}" method="post">
                        <div class="row">
                            <div class="mb-3 col-5"> 
                                <label for="idplancategoria">Plan</label>
                                <select class="form-select" name="idplancategoria" id="idplancategoria">
                                    <option value="">Elegir un plan</option>
                                    {% for plan in planes_creditos %}
                                        <option value="{{ plan.id }}">{{ plan.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 col-7"> 
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Categorias</h6>
                                        <ul class="list-group categorias_plan ml-2" id="categorias_plan"></ul>

                                        </ul>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-exito" type="submit">Grabar</button>
                    </form>
                </div>    
            </div>   
        </div>  
</div>        