MY_SECRET_KEY="tu_secret_key"
#SQLALCHEMY_DATABASE_URI="mysql://root:tu_password@localhost/tu_base_de_datos"
SQLALCHEMY_DATABASE_URI="mysql://root:tu_password@localhost/tu_base_de_datos"
#SQLALCHEMY_DATABASE_URI="mysql://root:tu_password@localhost/tu_base_de_datos"
LOGO_PATH = "static/img/logo.png"
INVOICES_FOLDER = 'static/invoices'
#COMPANY_FOLDER = "/demo_erp"
COMPANY_FOLDER = ""
FLASK_ENV = "production"
SESSION_LIFETIME = 120 # Tiempo de vida de la sesión en minutos
