<!-- Sidebar -->
        <!--
        <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">
        -->    
        <ul class="navbar-nav sidebar sidebar-dark accordion bg-color-mediumblue" id="accordionSidebar" >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-shop"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SoftTech<sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tablero</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Clientes
            </div>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes"
                    aria-expanded="true" aria-controls="collapseClientes">
                    <i class="fas fa-fw fa-person"></i>
                    <span>Clientes</span>
                </a>
                <div id="collapseClientes" class="collapse" aria-labelledby="headingClientes"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de clientes:</h6>
                        <a class="collapse-item" href="{{ url_for('clientes.clientes', id=0) }}">ABM de clientes</a>
                        <a class="collapse-item" href="{{ url_for('clientes.abc_clientes') }}">ABC de clientes</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCtaCteCli"
                    aria-expanded="true" aria-controls="collapseCtaCteCli">
                    <i class="fas fa-fw fa-file-invoice-dollar"></i>
                    <span>Cta. Cte.</span>
                </a>
                <div id="collapseCtaCteCli" class="collapse" aria-labelledby="headingClientes"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de cta. cte.:</h6>
                        <a class="collapse-item" href="{{ url_for('ctactecli.saldosctactecli') }}">Saldos Cta. cte.</a>
                        <a class="collapse-item" href="{{ url_for('ctactecli.movsctactecli') }}">Movimientos Cta. cte.</a>
                        <a class="collapse-item" href="{{ url_for('ctactecli.lst_cc_cli_vencidas') }}">Cta. cte. vencidas</a>
                    </div>
                </div>
            </li>

            <!-- Heading -->
            <div class="sidebar-heading">
                Ventas
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVentas"
                    aria-expanded="true" aria-controls="collapseVentas">
                    <i class="fas fa-fw fa-cash-register"></i>
                    <span>Ventas</span>
                </a>
                <div id="collapseVentas" class="collapse" aria-labelledby="headingVentas"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Ventas de artículos:</h6>
                        <a class="collapse-item" href="{{ url_for('ventas.nueva_venta') }}">Nueva venta</a>
                        <a class="collapse-item" href="{{ url_for('ventas.nuevo_remito') }}">Nuevo remito</a>
                        <a class="collapse-item" href="{{ url_for('ventas.nuevo_presupuesto') }}">Nuevo presupuesto</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVentasListados"
                    aria-expanded="true" aria-controls="collapseVentasListados">
                    <i class="fas fa-fw fa-cash-register"></i>
                    <span>Listados</span>
                </a>
                <div id="collapseVentasListados" class="collapse" aria-labelledby="headingVentas"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Listados varios:</h6>
                        <a class="collapse-item" href="{{ url_for('ventas.ventas') }}">Listado de ventas</a>
                        <a class="collapse-item" href="{{ url_for('ventas.ventasArticulos') }}">Artículos vendidos</a>
                        <a class="collapse-item" href="{{ url_for('ventas.ventasClientes') }}">Ventas a clientes</a>
                        <a class="collapse-item" href="{{ url_for('ventas.ventasVendedores') }}">Ventas por vendedor</a>
                        <a class="collapse-item" href="{{ url_for('ventas.remitos_vta') }}">Listado de remitos</a>
                        <a class="collapse-item" href="{{ url_for('ventas.presupuestos') }}">Listado de presupuestos</a>
                    </div>
                </div>
            </li>

                        
            <!-- Heading -->
            <div class="sidebar-heading">
                Artículos
            </div>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArticulos"
                    aria-expanded="true" aria-controls="collapseArticulos">
                    <i class="fas fa-fw fa-boxes-stacked"></i>
                    <span>Artículos</span>
                </a>
                <div id="collapseArticulos" class="collapse" aria-labelledby="headingIngresos"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Artículos</h6>
                        <a class="collapse-item" href="{{ url_for('articulos.update_articulo', id=0) }}">Alta de artículos</a>
                        <a class="collapse-item" href="{{ url_for('articulos.articulos') }}">Listado de artículos</a>
                        <a class="collapse-item" href="{{ url_for('articulos.rubros_marcas') }}">Rubros y Marcas</a>
                        <a class="collapse-item" href="{{ url_for('articulos.ing_balance') }}">Ingreso de balance</a>
                        <a class="collapse-item" href="{{ url_for('articulos.remitos_sucursales') }}">Remito a sucursales</a>
                        <a class="collapse-item" href="{{ url_for('articulos.cambio_precio') }}">Cambios de precio</a>
                    </div>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArticulosListados"
                    aria-expanded="true" aria-controls="collapseArticulosListados">
                    <i class="fas fa-fw fa-rectangle-list"></i>
                    <span>Listados</span>
                </a>
                <div id="collapseArticulosListados" class="collapse" aria-labelledby="headingIngresos"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Listado de artículos</h6>
                        <a class="collapse-item" href="{{ url_for('articulos.stock_art') }}">Stock</a>
                        <a class="collapse-item" href="{{ url_for('articulos.stock_art_faltantes') }}">Faltantes</a>
                        <a class="collapse-item" href="{{ url_for('articulos.stock_sucursales') }}">Stock de sucursales</a>
                        <a class="collapse-item" href="{{ url_for('articulos.lst_precios') }}">Precios</a>
                        <a class="collapse-item" href="{{ url_for('articulos.lst_compuestos') }}">Compuestos</a>
                    </div>
                </div>
            </li>
            <!-- Entidades Credito -->
            <div class="sidebar-heading">
                Créditos
            </div>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEntCredito"
                    aria-expanded="true" aria-controls="collapseEntCredito">
                    <i class="fas fa-folid fa-credit-card"></i>
                    <span>Tarjetas</span>
                </a>
                <div id="collapseEntCredito" class="collapse" aria-labelledby="headingEntCredito"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Entidades</h6>
                        <a class="collapse-item" href="{{ url_for('entidades.entidades') }}">ABM Entidades</a>
                        <a class="collapse-item" href="{{ url_for('entidades.listado_movimientos') }}">Listado movimientos</a>
                    </div>
                    
                </div>
            </li>     
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCreditoPropio"
                    aria-expanded="true" aria-controls="collapseCreditoPropio">
                    <i class="fas fa-folid fa-money-check-dollar"></i>
                    <span>Crédito propio</span>
                </a>
                <div id="collapseCreditoPropio" class="collapse" aria-labelledby="headingCreditoPropio"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Entidades</h6>
                        <a class="collapse-item" href="{{ url_for('creditos.simulador_cred') }}">Simulador</a>
                        <a class="collapse-item" href="{{ url_for('creditos.otorgamiento') }}">Otorgamiento</a>
                        <a class="collapse-item" href="{{ url_for('creditos.lst_creditos') }}">Listado de créditos</a>
                        <a class="collapse-item" href="{{ url_for('creditos.lst_nuevos') }}">Nuevos/Pendientes</a>
                        <a class="collapse-item" href="{{ url_for('creditos.seleccionar_cuota') }}">Cobrar cuota de crédito</a>
                        <a class="collapse-item" href="{{ url_for('creditos.vencimientos_cuotas') }}">Vencimientos de cuotas</a>
                    </div>
                    
                </div>
            </li>     
            <!-- Divider -->
            <!-- Heading -->
            <div class="sidebar-heading">
                Proveedores
            </div>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProveedores"
                    aria-expanded="true" aria-controls="collapseProveedores">
                    <i class="fas fa-folid fa-people-group"></i>
                    <span>Proveedores</span>
                </a>
                <div id="collapseProveedores" class="collapse" aria-labelledby="headingProveedores"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Proveedores</h6>
                        <a class="collapse-item" href="{{ url_for('proveedores.proveedores', id=0) }}">ABM Proveedores</a>
                        <a class="collapse-item" href="{{ url_for('ctacteprov.saldosprov') }}">Cta. cte. de proveedores</a>
                        <a class="collapse-item" href="{{ url_for('proveedores.ordenpago') }}">Orden de pago</a>
                    </div>
                    
                </div>
            </li>    
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompras"
                    aria-expanded="true" aria-controls="collapseCompras">
                    <i class="fas fa-regular fa-truck-ramp-box"></i>
                    <span>Compras</span>
                </a>
                <div id="collapseCompras" class="collapse" aria-labelledby="headingCompras"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Compras</h6>
                        <a class="collapse-item" href="{{ url_for('proveedores.compras') }}">Listado de compras</a>
                        <a class="collapse-item" href="{{ url_for('proveedores.nueva_compra') }}">Nueva compra</a>
                        <a class="collapse-item" href="{{ url_for('proveedores.remitosComp') }}">Listado de remitos</a>
                        <a class="collapse-item" href="{{ url_for('proveedores.nuevo_remitoComp') }}">Nuevo remito</a>
                    </div>
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGastos"
                    aria-expanded="true" aria-controls="collapseGastos">
                    <i class="fas fa-regular fa-comment-dollar"></i>
                    <span>Gastos</span>
                </a>
                <div id="collapseGastos" class="collapse" aria-labelledby="headingGastos"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gastos</h6>
                        <a class="collapse-item" href="{{ url_for('proveedores.nuevo_gasto') }}">Nuevo gasto</a>
                    </div>
                    
                </div>
            </li>
            <div class="sidebar-heading">
                Fondos
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCaja"
                    aria-expanded="true" aria-controls="collapseCaja">
                    <i class="fas fa-solid fa-coins"></i>
                    <span>Caja</span>
                </a>
                <div id="collapseCaja" class="collapse" aria-labelledby="headingCaja"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Caja:</h6>
                        <a class="collapse-item" href="{{ url_for('fondos.caja') }}">Ver caja</a>
                        <a class="collapse-item" href="{{ url_for('fondos.flujo_fondos') }}">Flujo de fondos</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">         
                <img class="sidebar-card-illustration mb-2" src="{{ url_for('static', filename='img/softtechweb.png')}}" alt="...">
                <p class="text-center mb-2"><strong>Desarrollador por</strong> SoftTech Web</p>
                <a class="btn btn-primario btn-sm" href="https://softtech-system.com" target="_blank">Visite nuestra página</a>
            </div>

        </ul>
        <!-- End of Sidebar -->