<!-- begin of Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <div class="row">
        <h4 style = "color:#10246a" class="col-12 ml-3">Empresa: {{ session['company'] }} <span class="owner_span">( {{session['owner']}} )</span> Usuario: {{ session['user_name']}} - <span class="sucursal_span">Sucursal: {{session['nombre_sucursal']}}</span></h4> 
    </div>
    

    <!--
    <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                aria-label="Buscar" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
    -->

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        
            <li class="nav-item dropdown no-arrow mx-1" id="alertas">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    {% if cantidadAlertas > 0 %}
                        <span class="badge badge-danger badge-counter" id="alertasCount">{{cantidadAlertas}}</span>
                    {% else %}
                        <span class="badge badge-success badge-counter" id="alertasCount">0</span>
                    {% endif %}
                    
                </a>

                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Centro de Alertas
                    </h6>
                    {% for alerta in alertas %}

                            {% if alerta['url'] %}
                                <a class="dropdown-item d-flex align-items-center" href="{{ url_for(alerta['url']) }}">
                            {% else %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                            {% endif %}
                            <div class="mr-3">
                                {% if alerta['tipo'] == 'peligro' %}
                                    <div class="icon-circle bg-danger">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                {% elif alerta['tipo'] == 'cuidado' %}    
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                {% elif alerta['tipo'] == 'bien' %}    
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                {% else %}
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>    
                                {% endif %}
                            </div>
                            <div>
                                <div class="small text-gray-500"> {{ alerta['titulo'] }} </div>
                                <span class="font-weight-bold">{{ alerta['subtitulo'] }}</span>
                            </div>
                        </a>

                    {% endfor %}
                    <!--
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">Fecha de alerta</div>
                            <span class="font-weight-bold">Mensaje alerta 1</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">Fecha de alerta</div>
                            Mensaje alerta 2
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">Fecha de alerta</div>
                            Mensaje alerta 3
                        </div>
                    </a>
                    -->
                    <a class="dropdown-item text-center small text-gray-500" href="#">Ver todas las alertas</a>
                </div>

                
            </li>
        

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                {% if cantidadMensajes > 0 %}
                    <span class="badge badge-danger badge-counter" id="mensajesCount">{{cantidadMensajes}}</span>
                {% else %}
                    <span class="badge badge-success badge-counter" id="mensajesCount">0</span>
                {% endif %}
                   
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Centro de Mensajes
                </h6>
                {% for mensaje in mensajes %}
                    {% if (mensaje['url'] != '#')or(mensaje['url'] != None) %}
                        <a class="dropdown-item d-flex align-items-center" href="{{ url_for(mensaje['url']) }}">
                    {% else %}
                        <a class="dropdown-item d-flex align-items-center" href="#">
                    {% endif %}
                    {% if mensaje['entidad'] == 'sistema' %}
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_posting_photo.svg')}}"
                                alt="...">
                            {% if mensaje['tipo'] == 'peligro' %}   
                                <div class="status-indicator bg-danger"></div>
                            {% elif mensaje['tipo'] == 'cuidado' %}    
                                <div class="status-indicator bg-warning"></div>
                            {% elif mensaje['tipo'] == 'bien' %}
                                <div class="status-indicator bg-success"></div>
                            {% else %}
                                <div class="status-indicator bg-primary"></div>
                            {% endif %}

                        </div>
                    {% elif mensaje['entidad'] == 'usuario' %}
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_profile_1.svg')}}"
                                alt="...">
                            <div class="status-indicator bg-success"></div>
                        </div>
                    {% else %}    
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_engineering-team_13ax.svg')}}"
                                alt="...">
                            <div class="status-indicator bg-success"></div>
                        </div>
                    {% endif %}    

                    <div class="font-weight-bold">
                        <div class="text-truncate">{{ mensaje['titulo'] }}</div>
                        <div class="small text-gray-500">{{ mensaje['subtitulo'] }}</div>
                    </div>
                    </a>

                {% endfor %}    

                <!--
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_profile_1.svg')}}"
                            alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Asunto del mensaje 2</div>
                        <div class="small text-gray-500">Usuario 1 · Dias del mensaje</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_profile_2.svg')}}"
                            alt="...">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Asunto del mensaje 2</div>
                        <div class="small text-gray-500">Usuario 2 · Dias del mensaje</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_profile_3.svg')}}"
                            alt="...">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Asunto del mensaje 3</div>
                        <div class="small text-gray-500">Usuario 3 · Dias del mensaje</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_posting_photo.svg')}}"
                            alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Asunto del mensaje 4...</div>
                        <div class="small text-gray-500">Usuario 4 · Dias/semanas del mensaje</div>
                    </div>
                </a>
                -->
                <a class="dropdown-item text-center small text-gray-500" href="{{ url_for('sesion.centro_mensajes') }}">Enviar y ver mensajes</a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information  -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ session['user'] }}</span>
                {% if (('avatar' in session) and (session['avatar'] != None)) %}
                    <img class="img-profile rounded-circle" src="{{ url_for('static', filename='img/' + session['user_id']|string + '/' + session['avatar']|string)}}">
                {% else %}    
                    <img class="img-profile rounded-circle" src="{{ url_for('static', filename='img/undraw_profile.svg')}}">
                {% endif %}
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ url_for('sesion.update_user', id=session['user_id']) }}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Perfil
                </a>
                <a class="dropdown-item" href="{{ url_for('sesion.centro_mensajes') }}">
                    <i class="fas fa-envelope fa-sm fa-fw mr-2 text-gray-400"></i>
                    Mensajes
                </a>
                <a class="dropdown-item" href="{{ url_for('configuraciones.abm_sucursales') }}">
                    <i class="fas fa-store fa-sm fa-fw mr-2 text-gray-400"></i>
                    Sucursales
                </a>
                <a class="dropdown-item" href="{{ url_for('configuraciones.configuraciones') }}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Opciones
                </a>
                <a class="dropdown-item" href="{{ url_for('sesion.usuarios') }}">
                    <i class="fas fa-users fa-sm fa-fw mr-2 text-gray-400"></i>
                    Usuarios
                </a>
                <a class="dropdown-item" href="{{ url_for('configuraciones.puntos_venta', id=0) }}">
                    <i class="fa-solid fa-cash-register fa-sm fa-fw mr-2 text-gray-400"></i>
                    Configuración puntos de venta
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-bars fa-sm fa-fw mr-2 text-gray-400"></i>
                    Configuración de informes
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Finalizar sesión
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->