<div
    class="table-responsive"
>
    <table class="display table table-bordered table-striped" id="dataTable2" width="100%" >
        <thead class="thead-dark">
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Total</th>
                <th scope="col">Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {% for abc_monto in abc_montos %}
                <tr class="">
                    <td scope="row">{{ abc_monto.nombre }}</td>
                    <td style="text-align: center;">${{ "%.2f"|format(abc_monto.total) }}</td>
                    <td style="text-align: center;">{{ "%.2f"|format(abc_monto.porcentaje) }} %</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
