
    <div class="card">
        <div class="card-body">
            <h3>Ingreso de clientes</h3>
            <form action="{{ url_for('clientes.add_cliente') }}" method="post">
                <div class="row">
                    <div class="col-1 mb-3"> 
                        <label for="idcliente">Nombre</label>
                        <input class="form-control" type="text" name="idcliente" id="idcliente" value="{{ cliente.id }}" readonly>
                    </div>
                    <div class="col-4 mb-3"> 
                        <label for="nombre">Nombre <span style="color: red">*</span></label>
                        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre" value="{{ cliente.nombre }}" required>
                    </div>
                
                    <div class="col-2 mb-3"> 
                        <label for="documento">Documento<span style="color: red">*</span></label>
                        <input class="form-control" type="text" name="documento" id="documento" placeholder="Ingrese el documento" value="{{ cliente.documento }}" required>
                    </div>
                    <div class="col-2 mb-3">
                        <div class="mb-3">
                            <label for="tipo_doc" class="form-label">Tipo documento<span style="color: red">*</span></label>
                            <select class="form-select form-select" name="tipo_doc" id="tipo_doc" required>
                                {% for tipo_doc in tipo_docs %}
                                    {% if cliente.id_tipo_doc == tipo_doc.id %}
                                        <option value="{{ tipo_doc.id }}" selected>{{ tipo_doc.nombre }}</option>
                                    {% else %}
                                        <option value="{{ tipo_doc.id }}">{{ tipo_doc.nombre }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <div class="mb-3">
                            <label for="tipo_iva" class="form-label">Tipo responsabilidad IVA<span style="color: red">*</span></label>
                            <select class="form-select form-select" name="tipo_iva" id="tipo_iva" required>
                                {% for tipo_iva in tipo_ivas %}
                                    {% if cliente.id_tipo_iva == tipo_iva.id %}
                                        <option value="{{ tipo_iva.id }}" selected>{{ tipo_iva.descripcion }}</option>
                                    {% else %}
                                        <option value="{{ tipo_iva.id }}">{{ tipo_iva.descripcion }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-3 mb-3">
                        <label for="telefono">Teléfono</label>
                        <input class="form-control" type="text" name="telefono" id="telefono" placeholder="Ingrese el n° de teléfono" value="{{ cliente.telefono }}">
                    </div>
                
                    <div class="col-3 mb-3">
                        <label for="mail">E-mail</label>
                        <input class="form-control" type="text" name="mail" id="mail" placeholder="Ingrese el mail" value="{{ cliente.mail }}">
                    </div>    

                    <div class="col-4 mb-3">
                        <label for="direccion">Dirección<span style="color: red">*</span></label>
                        <input class="form-control" type="text" name="direccion" id="direccion" placeholder="Ingrese la dirección" value="{{ cliente.direccion }}" required>
                    </div>    
                    <div class="col-2 form-check">
                        {% if cliente.ctacte == 1 %}
                            <input class="form-check-input" type="checkbox" value="" name="ctacte" id="ctacte" checked>
                        {% else %}    
                            <input class="form-check-input" type="checkbox" value="" name="ctacte" id="ctacte">
                        {% endif %}
                        <label class="form-check-label" for="ctacte">Cliente con cta. cte.</label>
                    </div>
                </div>
                <button class="btn btn-exito m-3" type="submit">Grabar</button>
                <label class=""><span style="color: red">* Datos obligatorios</span></label>
            </form>
        </div>    
    </div>   
