    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h6>Ingreso de colores</h6>
                    <form action="{{ url_for('configuraciones.add_color') }}" method="post">
                        <div class="mb-3"> 
                            <label for="nombreColor">Descripción</label>
                            <input class="form-control" type="text" name="nombreColor" id="nombreColor" placeholder="Nombre del color">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="color">Color</label>
                            <input class="form-control" type="color" name="color" id="color" placeholder="Color">
                        </div>    

                        <button class="btn btn-exito" type="submit">Grabar</button>
                    </form>
                </div>    
            </div>   
        </div>    
        
        <div class="col-md-7">
            {% include 'partials/_lst-colores.html' %}
        </div>     
    </div>      
