<div class="card">
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col"># Lista</th>
                    <th scope="col">Lista de precio</th>
                    <th scope="col">Markup</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for lista_precio in listas_precios %}
                    <tr class="table table-light">
                        <td scope="row">{{ lista_precio.id }}</td>
                        <td>{{ lista_precio.nombre }}</td>
                        <td>{{ lista_precio.markup }}</td>
                        <td>
                            <a href="#" class="btn btn-exito">Actualizar</a>
                            <a href="#" class="btn btn-peligro">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>    
</div>