{% extends "base.html" %}


{% block body %}
<h3 class="m-3">Comprobante de compra</h3>

<div class="m-3 card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Factura de compras</h6>
    </div>
    <div class="card-body">
        <div class='input-group mb-3'>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <label for="id">#id</label>
                        <input type="number" class="form-control" name="id" id="id" value="{{ factura.id }}" readonly>
                    </div>
                    <div class="col-5">
                        <label for="cliente">Proveedor</label>
                        <input type="text" class="form-control" name="cliente" id="cliente" value="{{ factura.nombre }}">
                    </div>    
                    <div class="col-2">
                        <label for="fecha">Fecha</label>
                        <input type="date" class="form-control" name="fecha" id="fecha" value="{{ factura.fecha }}">
                    </div>        
                            
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="total">Total</label>
                        <input type="number" class="form-control precio-normal" name="total" id="total" step="0.01" value="{{ factura.total }}">
                    </div>    
                    <div class="col-3">
                        <label for="iva">IVA</label>
                        <input type="number" class="form-control precio-normal" name="iva" id="iva" step="0.01" value="{{ factura.iva }}">
                    </div>    
                    <div class="col-3">
                        <label for="exento">Exento</label>
                        <input type="number" class="form-control precio-normal" name="exento" id="exento" step="0.01" value="{{ factura.exento }}">
                    </div>    
                    <div class="col-3">
                        <label for="impint">Imp. int.</label>
                        <input type="number" class="form-control precio-normal" name="impint" id="impint" step="0.01" value="{{ factura.impint }}">   
                    </div>    
                </div>    
            </div>    
        </div>

        <div class="m-3 card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Artículos facturados</h6>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-striped table-hover table-borderless table-dark align-middle">
                        <thead class="table-light">
                            <caption>
                                Artículos
                            </caption>
                            <tr>
                                <th>Código</th>
                                <th>Detalle</th>
                                <th>Cantiad</th>
                                <th>Precio U.</th>
                                <th>Precio F.</th>
                                <th>Iva</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for item in items %}    
                                <tr class="table-light">
                                    <td scope="row">{{ item.codigo }}</td>
                                    <td>{{ item.detalle }}</td>
                                    <td>{{ item.cantidad }}</td>
                                    <td>{{ item.precio_unitario }}</td>
                                    <td>{{ item.precio_total }}</td>
                                    <td>{{ item.iva }}</td>
                                </tr>
                                {% endfor %}    
                        </tbody>
                        <tfoot>
                            
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="m-3 card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Formas de pago</h6>
            </div>
            <div class="card-body">
                {% for pago in pagos %}
                <div class="row">
                    <div class="col-3">
                        <label for="forma_pago">Forma de pago</label>
                        <input type="text" class="form-control" name="forma_pago" id="forma_pago" value="{{ pago.pagos_cobros }}">
                    </div>
                    <div class="col-3">
                        <label for="total_pago">Importe del pago</label>
                        <input type="number" class="form-control precio-destacado" name="total_pago" id="total_pago" step="0.01" value="{{ pago.total }}">
                    </div>
                </div>    
                {% endfor %}
            </div>
        </div>

        <a href="{{ url_for('proveedores.actualizar_precios_porcompras', id=factura.id) }}" class="btn btn-success"> Actualizar precios </a>
    </div>



{% endblock %}
