{% extends "base.html" %}

{% block body %}
    <h1 class="m-3">Nuevo remito de compra</h1>
    <div class="m-2">
        <div class="container-fluid">
            <form id="invoice_form" method="post">
                <div class="card mb-3">
                    <div class="row">
                        <h4 class="m-2 col-5">Proveedor</h4>
                    </div>
                    
                    <!-- Modal para seleccionar cliente y articulos -->
                    {% include 'partials/_modal-proveedor.html' %}

                    <div class="cardbody">
                        <div class="row m-3">
                            <div class="col-md-2">
                                <label for="idproveedor">Proveedor:</label>
                                <input class="form-control" type="text" name="idproveedor" id="idproveedor" required>
                            </div>    
                            <div class="col-md-5">
                                <label for="proveedor_nombre">Nombre del Proveedor:</label>
                                <input class="form-control" type="text" name="proveedor_nombre" id="proveedor_nombre" readonly>   
                            </div>    
                            <div class="col-md-5">
                                <label for="fecha">Fecha:</label>
                                <input class="form-control" type="date" name="fecha" value="{{ hoy }}" required>
                            </div>    
                        </div>    
                    </div>    
                </div>    

                <div class="card">
                    <div class="cardbody m-3">
                        <!-- Detalles (items) -->
                        <h4>Artículos</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-borderless align-middle" id="tabla-items">
                                <thead class="table-light">
                                    <tr>
                                        <th>#ID</th>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Cant.</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <!-- Aquí se agregarán dinámicamente las filas -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <button class="btn btn-secondary col-2 m-2" type="button" id="agregarArticulo">Agregar Item F4</button>
                </div>

                <div class="row">
                    <button class="btn btn-primary col-2 m-2" type="submit" id="grabarCompra">Guardar Factura F9</button>
                </div>

            </form>
        </div>    
    </div>    

    <!-- TODO
     Mover todos los scripts a archivos separados y/o a un blocke de scripts
    -->
    <!-- FIXIT
     si el campo de precio tiene un valor no actualizarlo
    --> 
    <script src="/static/js/nuevo_remito.js"></script>
        
{% endblock %}