{% extends "base.html" %}

{% block body %}
    <h1 class="m-3">Nueva orden de pago</h1>
    <div class="m-2">
        <div class="container-fluid">
            {% include 'partials/_modal-proveedor.html' %}
            <form id="invoice_form" method="post">
                <div class="row justify-content-center">
                    
                    <div class="card mb-3 ml-2 col-10">    
                        <div class="card-header">
                            <h3 class="m-2">Datos de la orden</h3>
                        </div>
                        
                        <div class="card-body">
                            <div class="row">
                                <h4 class="m-2 col-5">Proveedor</h4>
                                <h4 class="m-2 col-5" id="tipo_comprobante">Tipo de factura: </h4>
                            </div>
                            <div class="row m-3">
                                <div class="col-md-2">
                                    <label for="idproveedor">Proveedor:</label>
                                    {% if idproveedor %}
                                        <input class="form-control" type="text" name="idproveedor" id="idproveedor" value="{{ idproveedor }}" required>
                                    {% else %}
                                        <input class="form-control" type="text" name="idproveedor" id="idproveedor" required>
                                    {% endif %}
                                </div>    
                                <div class="col-md-5">
                                    <label for="proveedor_nombre">Nombre del Proveedor:</label>
                                    <input class="form-control" type="text" name="proveedor_nombre" id="proveedor_nombre" readonly>   
                                </div>   
                                <div class="col-md-2">
                                    <label for="fecha">Fecha:</label>
                                    <input class="form-control" type="date" name="fecha" value="{{ hoy }}" required>
                                </div>    
                                <div class="col-md-3">
                                    <label for="total">Total:</label>
                                    <input class="form-control" type="number" name="total" id="total" step="0.01" min="0.01" required>
                                </div>    
                            </div>    
                        </div>
                    </div>        
                </div>    
                <div class="row justify-content-center">
                    <div class="card mb-3 ml-2 col-8">    
                        <div class="card-header">
                            <h5 class="m-2">Facturas pendientes</h3>
                        </div>
                        <div class="row">
                            <div id="movs_select" class="col-12 m-2" style="display: none;"></div>
                            
                        </div>
                        <div class="cardbody">
                        </div>
                    </div>        
                </div>

                <div class="card">
                    <div class="cardbody">
                        <div id="items" name="items">
                            
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <h3>Total op: $<span id="total_factura">0.00</span></h3>
                    <h3>Saldo: $<span id="saldo_factura">0.00</span></h3>
                </div>

                <div class="card">
                    <h4 class="m-3">Formas de pago</h4>
                    <div class="card-title">
                        <div class="row justify-content-md-center">
                            <div class="col-2 mt-3 ml-3">
                                <label for="efectivo">Efectivo</label>
                                <input type="number" name="efectivo" id="efectivo" class="form-control" value="0" onfocus="this.select()">
                            </div>
                            <div class="col-9 mt-3">
                                <div class="card">
                                    <div class="card-title">
                                        <h5 class="m-3">Cheques</h5>
                                        <div class="row">
                                            <div class="col-md-2 ml-3">
                                                <label for="banco">Banco</label>
                                                <select class="form-select" name="banco" id="banco">
                                                    {% for banco in bancos %}
                                                        <option value="{{ banco.id }}">{{ banco.nombre }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>    
                                            <div class="col-md-1 ml-3">
                                                <label for="cantCheques">Cant.</label>
                                                <input type="number" name="cantCheques" id="cantCheques" class="form-control" value="0" onfocus="this.select()">
                                            </div>
                                            <div class="col-md-2 ml-3">
                                                <label for="vtoCheque">Vto. 1° cheque</label>
                                                <input type="date" name="vtoCheque" id="vtoCheque" class="form-control" value="0" onfocus="this.select()">
                                            </div>
                                            <div class="col-md-2 ml-3">
                                                <label for="diasCheques">Dias entre cheques</label>
                                                <input type="number" name="diasCheques" id="diasCheques" class="form-control" value="1" min="1" max="365" onfocus="this.select()">
                                            </div>
                                            <div class="col-md-3 ml-3">
                                                <label for="importeCheques">Importe</label>
                                                <input type="number" name="importeCheques" id="importeCheques" class="form-control" value="0" step="0.01" onfocus="this.select()">
                                            </div>
                                        </div>    
                                        <div class="row">
                                            <div class="col-md-1 ml-3 mt-3">
                                                <a class="btn btn-primario" onclick="generarCheque()">Generar</a>
                                            </div>
                                            <div class="col-md-1 ml-1 mt-3">
                                                <a class="btn btn-peligro" onclick="limpiarCheque()">Eliminar</a>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-dark">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#Id</th>
                                                        <th scope="col">N° cheque</th>
                                                        <th scope="col">Vto.</th>
                                                        <th scope="col">Importe</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-group-divider table-light" id="cheques"></tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <h3>Total: $<span id="totalCheques">0.00</span></h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary col-2 m-2" type="submit" id="grabarOp">Guardar Op. - F9</button>
                </div>

            </form>
        </div>    
    </div>    

    <!-- TODO
     Mover todos los scripts a archivos separados y/o a un blocke de scripts
    -->
    <!-- FIXIT
     si el campo de precio tiene un valor no actualizarlo
    --> 
    <script src="{{ url_for('static', filename='js/nueva_op.js') }}"></script>
    
{% endblock %}