{% extends 'base.html'%}
{% block body %}
    <div class="m-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h3>Ingreso de Proveedores</h3>
                        <form action="{{ url_for('proveedores.add_proveedor') }}" method="POST">
                        
                            <div class="row">
                                <div class="mb-3 col-1"> 
                                    <label for="id">#Id</label>
                                    <input class="form-control" type="text" name="id" id="id" placeholder="Ingrese el ID" value="{{ proveedor.id }}" readonly>
                                </div>
                                <div class="mb-3 col-5"> 
                                    <label for="nombre">Nombre/Razón Social</label>
                                    <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre" value="{{ proveedor.nombre }}" required>
                                </div>
                                <div class="mb-3 col-5"> 
                                    <label for="fantasia">Nombre de fantasía</label>
                                    <input class="form-control" type="text" name="fantasia" id="fantasia" placeholder="Ingrese la fantasia" value="{{ proveedor.fantasia }}" required>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="mb-3 col-5">
                                    <label for="direccion">Dirección</label>
                                    <input class="form-control" type="text" name="direccion" id="direccion" placeholder="Ingrese la dirección" value="{{ proveedor.direccion }}">
                                </div>    
                                <div class="mb-3 col-5">
                                    <label for="mail">E-mail</label>
                                    <input class="form-control" type="text" name="mail" id="mail" placeholder="Ingrese el mail" value="{{ proveedor.email }}">
                                </div>    
                            </div>  
                            <div class="row">
                                <div class="mb-3 col-3">
                                    <label for="documento">Documento/CUIT/CUIL</label>
                                    <input class="form-control" type="text" name="documento" id="documento" placeholder="Ingrese el n° de documento/CUIL/CUIT" value="{{ proveedor.documento }}" required>
                                </div>    
                                
                                <div class="col-2 mb-3">
                                    <label for="tipoDoc">Tipo de Documento</label>
                                    <select class="form-control" name="tipoDoc" id="tipoDoc" required>
                                        {% for tipo in tipo_docs %}
                                            <option value="{{ tipo.id }}" {% if tipo.id == proveedor.id_tipo_doc %}selected{% endif %}>{{ tipo.nombre }}</option>
                                        {% endfor %}
                                        
                                    </select>    
                                    
                                </div>
                                <div class="col-2 mb-3">
                                    <label for="tipoIva">Tipo IVA</label>
                                    <select class="form-control" name="tipoIva" id="tipoIva" required>
                                        {% for tipo in tipo_ivas %}
                                            <option value="{{ tipo.id }}" {% if tipo.id == proveedor.id_tipo_iva %}selected{% endif %}>{{ tipo.descripcion }}</option>
                                        {% endfor %}
                                        
                                    </select>    
                                    
                                </div>
                                <div class="mb-3 col-3">
                                    <label for="telefono">Teléfono</label>
                                    <input class="form-control" type="text" name="telefono" id="telefono" placeholder="Ingrese el n° de teléfono" value="{{ proveedor.telefono }}">
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit">Grabar</button>
                        </form>
                    </div>    
                </div>   
            </div>    
        </div>    
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                <h3 class="m-3">Proveedores</h3>
                <p class="m-3">Listado de proveedores registrados en el sistema.</p>
            </div>
              
            <div class="col-md-10">
                {% include 'partials/_lst-proveedores.html' %}
            </div>     
        </div>    
    </div>    

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='js/dataTables.js')}}"></script>

{% endblock %}    
