{% extends "base.html" %}

{% block body %}
    <h2 class="m-3">Remitos de compra</h2>
    <div class="m-3">
        <a href="{{ url_for('proveedores.nuevo_remitoComp') }}" class="btn btn-primario">Nuevo remito</a>
    </div>    

    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <div class="card m-3">
                <h5 class="px-5 pt-2">Periodo</h5>
                <div class="card-body">
                    <form action="{{ url_for('proveedores.remitosComp') }}" method="post">
                        <div class="row justify-content-md-center">
                            <div class="col-md-3">
                                <label for="desde">Desde</label>
                                <input type="date" name="desde" id="desde" class="form-control" value="{{ desde }}">
                            </div>
                            <div class="col-md-3">
                                <label for="hasta">Hasta</label>
                                <input type="date" name="hasta" id="hasta" class="form-control" value="{{ hasta }}">
                            </div>    
                            <div class="col-md-2 m-4">
                                <button type="submit" class="btn btn-primario">Buscar</button>
                            </div>    
                        </div>
                    </form>
                </div>    
            </div>
        </div>    
    </div>
    
    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <div class="table-responsive m-3" >
                <table class="table table-striped table-hover table-borderless align-middle" >
                    <thead class="table-light">
                        <caption>
                            Remitos de compra
                        </caption>
                        <tr>
                            <th>Proveedor</th>
                            <th>Fecha</th>
                            <th>Nro. remito</th>
                            <th>Nro. factura</th>
                            <th>Fecha factura</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for remito in remitos %}        
                            <tr class="table-dark">
                                <td scope="row">{{ remito.proveedor }}</td>
                                <td>{{ remito.fecha.strftime('%d-%m-%Y') }}</td>
                                <td>{{ remito.nro_comprobante }}</td>
                                {% if remito.idfactura != None %}
                                    <td>{{ remito.nro_comprobante_factura }}</td>
                                    <td>{{ remito.fecha_factura.strftime('%d-%m-%Y') }}</td>
                                {% else %}    
                                    <td></td>
                                    <td></td>
                                {% endif %}
                                
                                <td><a href="{{ url_for('proveedores.ver_remito_comp', id=remito.id) }}" class="btn btn-primario">Ver remito</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
        </div>    
    </div>


{% endblock %}