{% extends 'base.html'%}
{% block body %}
    <div class="m-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3>Ingreso de Proveedores</h3>
                        <form action="{{ url_for('proveedores.update_proveedor', id=proveedor.id) }}" method="post">
                            <div class="mb-3"> 
                                <label for="nombre">Nombre</label>
                                <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre" value="{{ proveedor.nombre }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="mail">E-mail</label>
                                <input class="form-control" type="text" name="mail" id="mail" placeholder="Ingrese el mail" value="{{ proveedor.email }}">
                            </div>    
                            <div class="mb-3">
                                <label for="telefono">Teléfono</label>
                                <input class="form-control" type="text" name="telefono" id="telefono" placeholder="Ingrese el n° de teléfono" value="{{ proveedor.telefono }}">
                            </div>    
                            <div class="mb-3">
                                <label for="documento">Documento/CUIT/CUIL</label>
                                <input class="form-control" type="text" name="documento" id="documento" placeholder="Ingrese el n° de documento/CUIL/CUIT" value="{{ proveedor.documento }}" required>
                            </div>    
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <label for="tipoDoc">Tipo de Documento</label>
                                    <select class="form-control" name="tipoDoc" id="tipoDoc" required>
                                        {% for tipo in tipo_docs %}
                                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                                        {% endfor %}
                                        
                                    </select>    
                                    
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="tipoIva">Tipo IVA</label>
                                    <select class="form-control" name="tipoIva" id="tipoIva" required>
                                        {% for tipo in tipo_ivas %}
                                            <option value="{{ tipo.id }}">{{ tipo.descripcion }}</option>
                                        {% endfor %}
                                        
                                    </select>    
                                    
                                </div>
                            </div>    

                            <button class="btn btn-success" type="submit">Grabar</button>
                        </form>
                    </div>    
                </div>   
            </div>    
        </div>      
    </div>    
{% endblock %}    
