body{
    background-color: #0198a5;
}

.body2{
    background-color: #ececec;
}

.body-image{
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-uno-bold{
    color: rgb(15, 15, 189);
    font-weight: bold;
}

.text-dos-bold{
    color: rgb(189, 15, 15);
    font-weight: bold;
}

.text-tres-bold{
    color: rgb(15, 189, 15);
    font-weight: bold;
}


.text-bg-uno {

    background-color: rgba(15, 15, 189, 0.349);
    color: white;
}

.text-bg-dos {
    background-color: rgba(134, 15, 189, 0.349);
    color: white;
}

.text-bg-tres {
    background-color: rgba(15, 189, 131, 0.37);
    color: white;
}

.text-bg-cuatro {
    background-color: rgba(189, 15, 15, 0.349);
    color: white;
}

.btn-primario{
    background-color: rgb(61, 136, 187);
    color: white;
}

.btn-primario:hover{
    background-color: rgb(3, 113, 187);
    color: white;
}    

.btn-exito{
    background-color: rgb(61, 187, 109);
    color: white;
}

.btn-exito:hover{
    background-color: rgb(1, 182, 71);
    color: white;
}    


.btn-peligro{
    background-color: rgb(192, 73, 73);
    color: white;
}

.btn-peligro:hover{
    background-color: rgb(197, 4, 4);
    color: white;
}

.btn-cuidado{
    background-color: rgb(253, 255, 151);
    color: black;
}

.btn-cuidado:hover{
    background-color: rgb(252, 255, 89);
    color: black;
}
/* colores para usar generalmente para valores negativos positivos y cero*/

.positivo{
    color: black;
}

.negativo{
    color: red;
}

.neutro{
    color: green;
}

.centrado{
    display: block;
    margin: auto;
    width: 80%;

}

.owner_span{
    font-weight: bold;
    font-size: small;
    color:rgb(3, 113, 187)
}

.sucursal_span{
    font-weight: bold;
    color:rgb(1, 153, 102)
}

.precio-normal {
    color: blue;
    font-weight: bold;
  }

.precio-danger {
    color: red;
    font-weight: bold;
  }