{% extends "base.html" %}

{% block body %}


    <h1 class="m-3">Nueva factura de venta</h1>
    <div class="m-2">
        <div class="container-fluid">
            <form id="invoice_form" method="post">
                <div class="card mb-3">
                
                    <div class="row">
                        <h4 class="m-2 col-5">Cliente</h4>
                        <h4 class="m-2 col-5" id="tipo_comprobante">Tipo de factura: </h4>
                        <input class="form-control" type="number" name="id_tipo_comprobante" id="id_tipo_comprobante" hidden>
                    </div>

                    <!-- Modal para seleccionar cliente y articulos -->
                    {% include 'partials/_modal-cliente.html' %}
                    

                    <div class="cardbody">
                        <div class="row m-3">
                            <div class="col-md-1">
                                <label for="id">#Cli</label>
                                <input class="form-control" type="text" name="id" id="id" readonly>   
                            </div>
                            <div class="col-md-2">
                                <label for="idcliente">Cliente:</label>
                                <input class="form-control" type="text" name="idcliente" id="idcliente" required>
                            </div>    
                            <div class="col-md-5">
                                <label for="cliente_nombre">Nombre del Cliente:</label>
                                <input class="form-control" type="text" name="cliente_nombre" id="cliente_nombre" readonly>   
                            </div>    
                            <div class="col-md-2">
                                <label for="fecha">Fecha:</label>
                                <input class="form-control" type="date" name="fecha" value="{{ hoy }}" required>
                            </div>    
                            <div class="col-md-2">
                                <label for="idlista" class="form-label">Lista de precios:</label>
                                <select class="form-select form-select-md" name="idlista" id="idlista">
                                    {% for lista in listas_precio %}
                                        {% if lista.id == 1 %}
                                            <option value="{{ lista.id }}" selected>{{ lista.nombre }}</option>
                                        {% endif %}    
                                        <option value="{{ lista.id }}">{{ lista.nombre }}</option>
                                    {% endfor %}    
                                </select>
                            </div>
                        </div>    
                    </div>    
                </div>    

                <div class="card">
                    <div class="cardbody">
                        <div id="items" name="items">
                            
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <button class="btn btn-success col-2 m-2" type="button" id="agregarArticulo">Agregar articulo F4</button>
                    <h3 class="m-3">Total Factura: $<span id="total_factura">0.00</span></h3>
                    <h3>Saldo: $<span id="saldo_factura">0.00</span></h3>
                </div>

                <div class="card">
                    <h4 class="m-3">Formas de pago</h4>
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-3 mt-3">
                                <label for="efectivo">Efectivo</label>
                                <input type="number" name="efectivo" id="efectivo" class="form-control" step="0.01" value="0">
                            </div>
                            <div class="col-3">
                                <label for="entidad" class="form-label">Entidad</label>
                                <select class="form-select form-select-md" name="entidad" id="entidad" >
                                    <option selected>Elija una</option>
                                    {% for entidad in entidades %}
                                        <option value="{{ entidad.id }}">{{ entidad.entidad }}</option>
                                    {% endfor %}
                                </select>
                                <label for="ctacte">Tarjeta</label>
                                <input type="number" name="tarjeta" id="tarjeta" class="form-control" step="0.01" value="0">
                            </div>    
                            <div class="col-3 mt-3">    
                                <label for="ctacte" id="label-ctacte">Cta. Cte.</label>
                                <input type="number" name="ctacte" id="ctacte" class="form-control" step="0.01" value="0">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <button class="btn btn-primary col-2 m-2" type="submit" id="grabarVenta">Guardar Factura F9</button>
                </div>
            </form>
        </div>
    </div>        

    <script src="/static/js/nueva_venta.js"></script>
        
    </script>
{% endblock %}