{% extends "base.html" %}

{% block aditional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatable/dataTables.dataTables.css')}}">
{% endblock %}

{% block body %}
    <h2 class="m-3">Facturas de venta</h2>
    <div class="m-3">
        <a href="{{ url_for('ventas.nueva_venta') }}" class="btn btn-primario">Nueva venta</a>
    </div>    
    
    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <div class="card m-3">
                <h5 class="px-5 pt-2">Periodo</h5>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="row justify-content-md-center">
                            <div class="col-md-3">
                                <label for="desde">Desde</label>
                                <input type="date" name="desde" id="desde" class="form-control" value="{{ desde }}">
                            </div>
                            <div class="col-md-3">
                                <label for="hasta">Hasta</label>
                                <input type="date" name="hasta" id="hasta" class="form-control" value="{{ hasta }}">
                            </div>    
                            <div class="col-md-2 m-4">
                                <button type="submit" class="btn btn-primario">Buscar</button>
                            </div>    
                        </div>
                    </form>
                </div>    
            </div>
        </div>    
    </div>
    
    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <div class="table-responsive m-3" >
                <table class="table display table-striped table-hover table-borderless align-middle" id="dataTableVentas" >
                    <thead class="table-dark">
                        <tr>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for factura in facturas %}        
                            <tr class="table-light">
                                <td scope="row">{{ factura.cliente.nombre }}</td>
                                <td>{{ factura.fecha.strftime("%d-%m-%Y") }}</td>
                                <td style="text-align:center">{{ "${:,.2f}".format(factura.total) }}</td>
                                <td><a href="{{ url_for('ventas.ver_factura_vta', id=factura.id) }}" class="btn btn-secondary">Ver factura</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
        </div>    
    </div>

    <script src="/static/vendor/datatable/jquery-3.7.1.js"></script>
    <script src="/static/vendor/datatable/dataTables.js"></script>
    <script>
        new DataTable('#dataTableVentas', {
            iDisplayLength: 50,
            language: {
                entries: {
                    _: "entradas",
                    1: "entrada"
                },
                sInfo: "Mostrando _START_ de _END_ de un total de _TOTAL_ _ENTRIES-TOTAL_",
                sInfoEmpty: "Mostrando 0 de 0 de 0 _ENTRIES-TOTAL_",
                sInfoFiltered: "(Filtrando _MAX_ de un total de _ENTRIES-MAX_)",
                sLengthMenu: "_MENU_ _ENTRIES_ por página",
                sSearch: 'Buscar',
                sSearchPlaceholder: 'Buscar registros'
            }
        });
    </script>

{% endblock %}