{% extends "base.html" %}

{% block aditional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatable/dataTables.dataTables.css')}}">
{% endblock %}

{% block body %}
    <h2 class="m-3">Ventas por vendedores</h2>
    
    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <div class="card m-3">
                <h5 class="px-5 pt-2">Periodo</h5>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="row justify-content-md-center">
                            <div class="col-md-3">
                                <label for="desde">Desde</label>
                                <input type="date" name="desde" id="desde" class="form-control" value="{{ desde }}">
                            </div>
                            <div class="col-md-3">
                                <label for="hasta">Hasta</label>
                                <input type="date" name="hasta" id="hasta" class="form-control" value="{{ hasta }}">
                            </div>    
                            <div class="col-md-2 m-4">
                                <button type="submit" class="btn btn-primario">Buscar</button>
                            </div>    
                        </div>
                    </form>
                </div>    
            </div>
        </div>    
    </div>
    
    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <div class="table-responsive m-3" >
                <table class="table display table-striped table-hover table-borderless align-middle" id="dataTableVentas" >
                    <thead class="table-dark">
                        <tr>
                            <th>#ID Vendedor</th>
                            <th>Nombre</th>
                            <th>Operaciones</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for venta in ventas %}        
                            <tr class="table-light">
                                <td scope="row">{{ venta.id }}</td>
                                <td>{{ venta.nombre }}</td>
                                <td style="text-align:center">{{ venta.cantidad_total }}</td>
                                <td style="text-align:center"> {{ venta.total_ventas|round(2) }}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('ventas.ventasUnVendedor') }}">
                                        <input type="hidden" name="idVendedor" value="{{ venta.id }}">
                                        <input type="hidden" name="fechaDesde" value="{{ desde }}">
                                        <input type="hidden" name="fechaHasta" value="{{ hasta }}">
                                        <button type="submit" class="btn btn-secondary">Ver factura</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
        </div>    
    </div>

    <script src="/static/vendor/datatable/jquery-3.7.1.js"></script>
    <script src="/static/vendor/datatable/dataTables.js"></script>
    <script src="/static/js/dataTables.js"></script>
    
{% endblock %}