<div class="card text-center">
    <div class="card-body">
        <h3>Ingreso de artículos</h3>
        <form  method="post" action="{{ url_for('articulos.add_articulo') }}" id="articulo_form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-7">
                <div class="row">
                    <div class="col-4 mb-3"> 
                        <label for="codigo">Código</label>
                        <input class="form-control" type="text" name="codigo" id="codigo" placeholder="Ingrese el código">
                    </div>
                    <div class="col-8 mb-3">
                        <label for="detalle">Detalle</label>
                        <input class="form-control" type="text" name="detalle" id="detalle" placeholder="Ingrese el detalle">
                    </div>    
                </div>    
                <div class="row">
                    <div class="col-3 mb-3">
                        <label for="costo">Costo</label>
                        <input class="form-control" type="text" name="costo" id="costo" placeholder="Ingrese el costo">
                    </div>    

                    <div class="col-2 mb-3">
                        <label for="idiva">IVA:</label>
                        <select class="form-control" id="idiva" name="idiva" required>
                        {% for iva in ivas %}
                            <option value="{{ iva.id }}">{{ iva.descripcion }}</option>
                        {% endfor %}
                        </select>
                    </div>    
                    <div class="col-7 mb-3">
                        <label for="idmarca">Marca:</label>
                        <select class="form-select" id="idmarca" name="idmarca" required>
                        {% for marca in marcas %}
                            <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                        {% endfor %}
                        </select>
                    </div>    
                </div>    
                
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="idtipoarticulo">Tipo de articulo:</label>
                        <select class="form-select" id="idtipoarticulo" name="idtipoarticulo" required>
                        {% for tipoarticulo in tipoarticulos %}
                            <option value="{{ tipoarticulo.id }}">{{ tipoarticulo.nombre }}</option>
                        {% endfor %}
                        </select>
                    </div>    
                    <div class="col-6 mb-3 form-check">
                        <input class="form-check-input" type="checkbox" id="es_compuesto" name="es_compuesto">
                        <label for="es_compuesto" class="form-check-label">Es Compuesto</label>
                    </div>    
                </div>    

                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="idrubro">Rubro:</label>
                        <select class="form-select" id="idrubro" name="idrubro" required>
                        {% for rubro in rubros %}
                            <option value="{{ rubro.id }}">{{ rubro.nombre }}</option>
                        {% endfor %}
                        </select>
                    </div>    
                    <div class="col-6 mb-3">
                        <label for="imagen">Imagen:</label>
                        <input class="form-control" type="file" id="imagen" name="imagen">
                    </div>    
                </div>    
            </div>
                <div class="col-5">
                               
                    <h5>Precios de venta al público</h5>
                    <div class="precios" id="precios">
                    {% for lista in listas_precio %}
                        <div class="row" id="precio">
                            <div class="col-2 mb-3">
                                <label for="idlista{{loop.index}}">#Lista</label>
                                <input class="form-control" type="text" name="precio[{{loop.index}}][idlista]" id="precio[{{loop.index}}][idlista]" value="{{ lista.id }}" readonly>
                            </div> 
                            <div class="col-4 mb-3">
                                <label for="lista{{loop.index}}">Lista</label>
                                <input class="form-control" type="text" name="precio[{{loop.index}}][lista]" id="precio[{{loop.index}}][lista]" value="{{ lista.nombre }}" readonly>
                            </div>    

                            <div class="col-4 mb-3">
                                <label for="pvp{{loop.index}}">Precio V.P.</label>
                                <input class="form-control precio" type="number" name="precio[{{loop.index}}][precio]" id="precio[{{loop.index}}][precio]" step="0.01" min="0" placeholder="Ingrese el precio de V.P." required>
                            </div>    

                            <div class="col-2 mb-3">
                                <label for="markaup{{loop.index}}">Markup</label>
                                <input class="form-control markup" type="number" name="precio[{{loop.index}}[markup]" id="precio[{{loop.index}}][markup]" step="0.01" value="{{ lista.markup }}">
                            </div>    
                        </div>

                    {% endfor %}
                    </div>
                </div>    
            </div>    

            <button class="btn btn-exito" type="submit">Grabar</button>
        </form>
    </div>    
</div>   