<div class="m-3 card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado de artículos</h6>
    </div>
    <div class="card-body">
        <div class='input-group mb-3'>
            
        </div>
        <div class="table-responsive">
            
            <table class="display table table-bordered table-striped" id="dataTable" width="100%">
                
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Rubro</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Costo</th>
                        <th scope="col" style="width: 5%;">Imagenes</th>
                        <th scope="col" style="width: 15%;">Acciones</th>
                    </tr>
                </thead>
                <tfoot class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Rubro</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Imagenes</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for articulo in articulos %}
                    <tr class="">
                        <td scope="row">{{ articulo.codigo }}</td>
                        <td>{{ articulo.rubro }}</td>
                        <td>{{ articulo.marca }}</td>
                        <td>{{ articulo.detalle }}</td>
                        <td> {{"${:,.2f}".format(articulo.costo)}}</td>
                        <td style="text-align: center;">
                            {% if articulo.imagen %}
                                <img src="{{ url_for('static', filename='img/articulos/' + articulo.imagen) }}" alt="Imagen del artículo" sizes="" srcset="" width="50" height="50">
                            {% else %}    
                                Sin imagen  
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            <a href="{{ url_for('articulos.update_articulo', id=articulo.id) }}" class="btn btn-primario">Actualizar</a>
                            <a href="#" class="btn btn-peligro">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


