<!-- Modal para detalle de movimientos del artículo -->
<div class="modal fade" id="articuloMovimientosModal" tabindex="-1" aria-labelledby="articuloMovimientosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="articuloMovimientosModalLabel">
                    <i class="fa fa-boxes"></i> Detalle de movimientos del artículo
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="modalArticuloContent">
                <!-- Aquí se mostrarán los movimientos del artículo -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-times"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>