{% extends "base.html" %}

{% block body %}
<div class="m-3">
    <h3>Entidades de crédito</h3>
</div>
<div class="m-2">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3>Ingreso de entidades</h3>
                    <form action="{{ url_for('entidades.add_entidad') }}" method="post">
                        <div class="mb-3"> 
                            <label for="entidad">Entidad</label>
                            <input class="form-control" type="text" name="entidad" id="entidad" placeholder="Ingrese el nombre de la entidad">
                        </div>
                        <div class="mb-3">
                            <label for="telefono">Teléfono</label>
                            <input class="form-control" type="text" name="telefono" id="detalle" placeholder="Ingrese el teléfono">
                        </div>    
                        
                        <button class="btn btn-success" type="submit">Grabar</button>
                    </form>
                </div>    
            </div>   
        </div>    
        
        <div class="col-8">
            {% include 'partials/_lst-entidades.html' %}
        </div>     
    </div>      
</div>    
{% endblock %}