<div class="card">
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless align-middle" id="dataTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Cta.Cte.</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                    <tr class="">
                        <td scope="row">{{ proveedor.nombre }}</td>
                        <td>{{ proveedor.email }}</td>
                        <td>{{ proveedor.telefono }}</td>
                        <td>
                            <a href="#" class="btn btn-dark">Movs.cta.cte.</a>
                        </td>
                        <td>
                            <a href="{{ url_for('proveedores.proveedores', id=proveedor.id) }}" class="btn btn-success">Actualizar</a>
                            <a href="{{ url_for('proveedores.delete_proveedor', id=proveedor.id) }}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>    
</div>