{% extends "base.html" %}
{% block body %}

    <!-- Begin Page Content -->
    <meta http-equiv="refresh" content="300">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tablero informativo {{ tituloTablero }}</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generar reporte </a>
        </div>
        
        <!-- Content Row 
        segunda fila de datos
        -->
        <div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-dark shadow h-100 py-2">
                
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Ventas </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                <hr>
                                <div class="h6 mb-0 font-weight-bold text-gray-800"> Ventas de hoy: {{ op_hoy }} </div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800"> Ventas de esta semana: {{ op_semana }} </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                
                <div class="card border-left-primary shadow h-100 py-2">
                               
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Operaciones en el mes
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> </div>
                                <hr>
                                <div class="h6 mb-0 font-weight-bold text-gray-800"> Op. este mes: {{ op_este_mes }} </div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800"> Op. este mes año ant: {{ op_este_mes_anterior }} </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-address-book fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Cta. cte. proveedores</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                <hr>
                                <div class="h6 mb-0 font-weight-bold text-gray-800"> Saldo {{ saldo_proveedores }}  </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-receipt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Ventas</div>
                                
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                <hr>
                                <div class="h6 mb-0 font-weight-bold text-gray-800"> Este mes:  </div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800"> Este año:  </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-camera-retro fa-2x text-gray-300"></i>
                                --
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                --
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
            
        </div>

        
        <!-- Content Row -->
        
        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Los 10 productos mas vendidos en los últimos 6 meses</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Opciones del grafico:</div>
                                <a class="dropdown-item" href="#">Analizar otro periodo</a>
                                <a class="dropdown-item" href="#">Analizar una sucursal</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Opciones</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="barrasMasVendidos"></canvas>
                            <script>
                                det_art = {{ detalles|tojson }};
                                vtas_art = {{ cantidades|tojson }};
                            </script>
                            
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Últimas ventas de esta sucursal</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive"                        >
                            <table class="table display table-striped table-hover table-borderless align-middle">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Vendedor</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for ultima_op in ultimas_op %}
                                    <tr>
                                        <td scope="row"> <a href="{{ url_for('ventas.ver_factura_vta', id=ultima_op[0]) }}">{{ ultima_op[1] }}</a></td>
                                        <td>{{ ultima_op[3] }}</td>
                                        <td>{{ "${:,.2f}".format(ultima_op[2]) }}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Productos con stock en negativo</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Opciones del grafico:</div>
                                <a class="dropdown-item" href="#">Analizar otro periodo</a>
                                <a class="dropdown-item" href="#">Analizar una sucursal</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Opciones</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive"                        >
                            <table class="table display table-striped table-hover table-borderless align-middle">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Codigo</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for stock in stock_negativos %}
                                    <tr>
                                        <td scope="row"> <a href="{{ url_for('articulos.update_articulo', id=stock['id']) }}"> {{ stock['codigo'] }}</a></td>
                                        <td>{{ stock['detalle'] }}</td>
                                        <td>{{ stock['cantidad']|round(2) }}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>

            
            <div class="col-xl-6 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Productos con stock faltante</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive"                        >
                            <table class="table display table-striped table-hover table-borderless align-middle">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Codigo</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for stock in stock_faltantes %}
                                    <tr>
                                        <td scope="row"> <a href="#">{{ stock['codigo'] }}</a></td>
                                        <td>{{ stock['detalle'] }}</td>
                                        <td>{{ stock['cantidad'] }}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <!-- /.container-fluid -->
                   
{% endblock %}

{% block js_script %}
    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>

    <!-- Page level custom scripts-->
    <script src="{{ url_for('static', filename='js/demo/chart-bar-tab-basico.js')}}"></script>

{% endblock %}

