{% extends 'base.html'%}
{% block aditional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatable/dataTables.dataTables.css')}}">
{% endblock %}

{% block body %}
    <!-- TODO 
     cambiar la dispocion de la entrada de datos
     poner toda la entrada arriba y deja ele listado abajo
     ver la posibilidd de al menos mostrar el precio de la primer lista de precios
     -->
    <div class="m-2">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-10 m-3">
                    {% include 'partials/_alta-articulos.html' %}
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 m-3">
                    {% include 'partials/_lst-articulos.html' %}
                </div>     
            </div>    
             
    </div>   
        
    <script src="/static/vendor/datatable/jquery-3.7.1.js"></script>
    <script src="/static/vendor/datatable/dataTables.js"></script>

    <script>
        
        new DataTable('#dataTable', {
            iDisplayLength: 50,
            language: {
                entries: {
                    _: "entradas",
                    1: "entrada"
                },
                sInfo: "Mostrando _START_ de _END_ de un total de _TOTAL_ _ENTRIES-TOTAL_",
                sInfoEmpty: "Mostrando 0 de 0 de 0 _ENTRIES-TOTAL_",
                sInfoFiltered: "(Filtrando _MAX_ de un total de _ENTRIES-MAX_)",
                sLengthMenu: "_MENU_ _ENTRIES_ por página",
                sSearch: 'Buscar',
                sSearchPlaceholder: 'Buscar registros'
            }
        });

        document.getElementById('costo').addEventListener('input', function(e) {
            const costo = parseFloat(document.getElementById('costo').value);
            const itemDivs = document.querySelectorAll('.precios #precio');
            itemDivs.forEach((itemDiv, index) => {
                const markup = parseFloat(itemDiv.querySelector('.markup').value);
                itemDiv.querySelector('.precio').value = markup.toFixed(2) * costo.toFixed(2);
            });
            
        });
    
        async function checkArt(e){
            e.preventDefault();
            const codigo = document.getElementById('codigo').value;
            const respuesta = await fetch(`/articulo/${codigo}/0`);
            const data = await respuesta.json();
            if (data.success == false){
                form_articulos.removeEventListener('submit', checkArt)
                form_articulos.submit();
            }
            else{
                alert('El código ya figura en otro artículo')
            }
        }
    
        let form_articulos = document.getElementById('articulo_form');
        form_articulos.addEventListener('submit', checkArt);
    
    </script>
{% endblock %}    


