{% extends 'base.html'%}
{% block body %}

    <div class="m-2">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Ingreso de artículos</h3>
                        <form  method="post" id="articulo_form" enctype="multipart/form-data">
                            <div class="mb-3"> 
                                <label for="codigo">Código</label>
                                <input class="form-control" type="text" name="codigo" id="codigo" placeholder="Ingrese el código">
                            </div>
                            <div class="mb-3">
                                <label for="detalle">Detalle</label>
                                <input class="form-control" type="text" name="detalle" id="detalle" placeholder="Ingrese el detalle">
                            </div>    
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <label for="costo">Costo</label>
                                    <input class="form-control" type="text" name="costo" id="costo" placeholder="Ingrese el costo">
                                </div>    

                                <div class="col-6 mb-3">
                                    <label for="idiva">IVA:</label>
                                    <select class="form-control" id="idiva" name="idiva" required>
                                    {% for iva in ivas %}
                                        <option value="{{ iva.id }}">{{ iva.descripcion }}</option>
                                    {% endfor %}
                                    </select>
                                </div>    
                            </div>    
                            <div class="mb-3">
                                <label for="idmarca">Marca:</label>
                                <select class="form-control" id="idmarca" name="idmarca" required>
                                {% for marca in marcas %}
                                    <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                                {% endfor %}
                                </select>
                            </div>    
                            <div class="mb-3">
                                <label for="imagen">Imagen:</label>
                                <input class="form-control" type="file" id="imagen" name="imagen">
                            </div>    
                            <hr>
                            
                                <h5>Precios de venta al público</h5>
                                <div class="precios" id="precios">
                                {% for lista in listas_precio %}
                                    <div class="row" id="precio">
                                        <div class="col-2 mb-3">
                                            <label for="idlista{{loop.index}}">#Lista</label>
                                            <input class="form-control" type="text" name="precio[{{loop.index}}][idlista]" id="precio[{{loop.index}}][idlista]" value="{{ lista.id }}" readonly>
                                        </div> 
                                        <div class="col-4 mb-3">
                                            <label for="lista{{loop.index}}">Lista</label>
                                            <input class="form-control" type="text" name="precio[{{loop.index}}][lista]" id="precio[{{loop.index}}][lista]" value="{{ lista.nombre }}" readonly>
                                        </div>    
        
                                        <div class="col-4 mb-3">
                                            <label for="pvp{{loop.index}}">Precio V.P.</label>
                                            <input class="form-control precio" type="number" name="precio[{{loop.index}}][precio]" id="precio[{{loop.index}}][precio]" placeholder="Ingrese el precio de V.P.">
                                        </div>    

                                        <div class="col-2 mb-3">
                                            <label for="markaup{{loop.index}}">Markup</label>
                                            <input class="form-control markup" type="number" name="precio[{{loop.index}}[markup]" id="precio[{{loop.index}}][markup]" value="{{ lista.markup }}">
                                        </div>    
                                    </div>

                                {% endfor %}
                                </div>
                            

                            <button class="btn btn-exito" type="submit">Grabar</button>
                        </form>
                    </div>    
                </div>   
            </div>    
            
            <div class="col-8">
                {% include 'partials/_lst-articulos.html' %}
            </div>     
        </div>      
    </div>   

    <script>
        document.getElementById('costo').addEventListener('input', function(e) {
            const costo = parseFloat(document.getElementById('costo').value);
            const itemDivs = document.querySelectorAll('.precios #precio');
            itemDivs.forEach((itemDiv, index) => {
                const markup = parseFloat(itemDiv.querySelector('.markup').value);
                itemDiv.querySelector('.precio').value = markup.toFixed(2) * costo.toFixed(2);
            });
            
        });
    
        async function checkArt(e){
            e.preventDefault();
            const codigo = document.getElementById('codigo').value;
            const respuesta = await fetch(`/articulo/${codigo}/0`);
            const data = await respuesta.json();
            if (data.success == false){
                form_articulos.removeEventListener('submit', checkArt)
                form_articulos.submit();
            }
            else{
                alert('El código ya figura en otro artículo')
            }
        }
    
        let form_articulos = document.getElementById('articulo_form');
        form_articulos.addEventListener('submit', checkArt);
    
    </script>
{% endblock %}    


