{% extends "base.html" %}


{% block body %}
    <div class="container mt-4">
        <h2>Cambio de Precios</h2>
        <form id="form-cambio-precios" method="post" action="{{ url_for('articulos.cambio_precio') }}">
            {% include 'partials/_modal-articulos.html' %}
            <!-- Datos de cabecera -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Datos de cabecera</h3>
                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <label for="fecha" class="form-label">Fecha<span style="color: red">*</span></label>
                            <input type="date" class="form-control" id="fecha" name="fecha" required>
                        </div>
                        
                        <div class="col-md-3 mb-3">
                            <label for="lista_precio" class="form-label">Lista de Precios<span style="color: red">*</span></label>
                            <select class="form-select" id="lista_precio" name="lista_precio" required>
                                <option value="" selected>Seleccione una lista de precios</option>
                                {% for lista in listas_precios %}
                                <option value="{{ lista.id }}">{{ lista.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="card-header">
                            <h5 class="card-title">Carga de artículos</h5>
                        </div>    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="marca" class="form-label">Marca</label>
                                    <select class="form-select" id="marca" name="marca">
                                        <option value="" selected>Seleccione una marca</option>
                                        {% for marca in listaMarcas %}
                                        <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="rubro" class="form-label">Rubro</label>
                                    <select class="form-select" id="rubro" name="rubro">
                                        <option value="" selected>Seleccione un rubro</option>
                                        {% for rubro in listaRubros %}
                                        <option value="{{ rubro.id }}">{{ rubro.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="porcentaje" class="form-label">Porcentaje</label>
                                    <input type="number" name="porcentaje" id="porcentaje" class="form-control" value="1" step="1" min="0">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <button class="btn btn-primario mb-3 mt-4" id="cargarRubroMarca">Cargar productos</button>
                                </div>
                            </div>    
                        </div>        

                    </div>


                </div>     
             
                <div class="card-body">
                    <!-- Detalles (items) -->
                    <h4>Artículos</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-borderless align-middle" id="tabla-items">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Precio Actual</th>
                                    <th>Precio Nuevo</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí se agregarán dinámicamente las filas -->
                            </tbody>
                        </table>
                    </div>    
                    <button type="button" class="btn btn-primario" id="agregar-item">Agregar artículo F4</button>

                    <!-- Botón de guardar -->
                    <div class="mt-4">
                        <button type="submit" class="btn btn-exito" id="guardar-cambio">Guardar Cambios F9</button>
                        <button type="reset" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>    
            </div>    
        </form>
    </div>

    
    <script src="{{ url_for('static', filename='js/cambio_precio.js')}}"></script>
{% endblock %}