{% extends 'base.html' %}

{% block body %}
    <div class="m-3">
        <h2>Listado de artículos compuestos</h2>
    </div>

    <div class="card m-3">
        <h3 class="m-3">Artículos compuestos</h3>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display table table-bordered table-striped" id="dataTable" width="100%">
                    <thead class="thead-dark">
                        <tr class="table-light">
                            <th scope="col">Código</th>
                            <th scope="col">Rubro</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Detalle</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for compuesto in listado %}
                            <tr class="">
                                <td scope="row"> <a href="{{ url_for('articulos.update_articulo', id=compuesto.id ) }}">{{ compuesto.codigo }}</a></td>
                                <td>{{ compuesto.rubro }}</td>
                                <td>{{ compuesto.marca }}</td>
                                <td>{{ compuesto.detalle }}</td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

    <script src="{{ url_for('static', filename='vendor/datatable/jquery-3.7.1.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatable/datatables.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.js')}}"></script>
    
{% endblock %}    