{% extends "base.html" %}

{% block body %}
    <h1 class="m-3">Ingreso de balance</h1>
    <div class="m-2">
        <div class="container-fluid">
            <form id="invoice_form" method="post">
                <div class="card mb-3">
                    <h4 class="m-2">Ingreso de balance</h4>

                    <!-- Modal para seleccionar cliente y articulos -->
                    {% include 'partials/_modal-articulos.html' %}

                    <div class="cardbody">
                        <div class="row m-3">
                            <div class="col-md-2">
                                <label for="fecha">Fecha:</label>
                                <input class="form-control" type="date" name="fecha" value="{{ hoy }}" required>
                            </div>    
                        </div>    
                    </div>    
                </div>    

                <div class="card">
                    <div class="cardbody">
                        <div id="items" name="items">
                            
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <button class="btn btn-secondary col-2 m-2" type="button" id="agregarArticulo">Agregar Item F4</button>
                </div>

                <div class="row">
                    <button class="btn btn-primary col-2 m-2" type="submit" id="grabarBalance">Guardar Balance F9</button>
                </div>

            </form>
        </div>    
    </div>    

    <!-- TODO
     Mover todos los scripts a archivos separados y/o a un blocke de scripts
    -->
    <!-- FIXIT
     si el campo de precio tiene un valor no actualizarlo
    --> 
    <script src="/static/js/ing_balance.js"></script>
{% endblock %}