{% extends 'base.html' %}

{% block body %}
    <div class="m-3">
        <h2>Listado de precios</h2>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="card m-3 col-6">
            <h3 class="m-3">Precios de artículos</h3>
            <div class="card-body">
                <form action="{{ url_for('articulos.lst_precios') }}" method="post">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="idlista" class="form-label">Lista</label>
                            <select class="form-select form-select" name="idlista" id="idlista">
                                {% for lista in listas_precios %}
                                    <option value="{{ lista.id }}">{{ lista.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <button type="submit" class="col-2 m-4 btn btn-exito">Consultar</button>
                    </div>    
                </form>    
            </div>
        </div>
    </div>    

    <div class="card m-3">
        <h3 class="m-3">Precios de artículos</h3>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display table table-bordered table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Rubro</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for precio in listado %}
                            <tr class="">
                                <td scope="row"> <a href="{{ url_for('articulos.update_articulo', id=precio.id ) }}">{{ precio.codigo }}</a></td>
                                <td>{{ precio.rubro }}</td>
                                <td>{{ precio.marca }}</td>
                                <td>{{ precio.detalle }}</td>
                                <td>{{ "${:,.2f}".format(precio.costo) }}</td>
                                <td>{{ "${:,.2f}".format(precio.precio) }}</td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

    <script src="/static/vendor/datatable/jquery-3.7.1.js"></script>
    <script src="/static/vendor/datatable/dataTables.js"></script>

    <script>
        
        new DataTable('#dataTable', {
            iDisplayLength: 50,
            language: {
                entries: {
                    _: "entradas",
                    1: "entrada"
                },
                sInfo: "Mostrando _START_ de _END_ de un total de _TOTAL_ _ENTRIES-TOTAL_",
                sInfoEmpty: "Mostrando 0 de 0 de 0 _ENTRIES-TOTAL_",
                sInfoFiltered: "(Filtrando _MAX_ de un total de _ENTRIES-MAX_)",
                sLengthMenu: "_MENU_ _ENTRIES_ por página",
                sSearch: 'Buscar',
                sSearchPlaceholder: 'Buscar registros'
            }
        });
    </script>
    
{% endblock %}    