{% extends 'base.html' %}
{% block body %}

    <h3 class="m-3">Rubros y marcas</h3>
    <div class="row m-3">
        {% include 'partials/_rubros.html' %}
        {% include 'partials/_marcas.html' %}
    </div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>
        new DataTable('#marcasTable', {
            pageLength: 10,
            perPageSelect: [10, 25, 50, 100],
            searchable: true,
            sortable: true,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            }
            
        });
        new DataTable('#rubrosTable', {
            perPage: 10,
            perPageSelect: [10, 25, 50, 100],
            searchable: true,
            sortable: true,
            language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                },
            labels: {
                placeholder: 'Buscar...',
                perPage: '{select} registros por página',
                noRows: 'No se encontraron registros',
                info: 'Mostrando {start} a {end} de {rows} registros',
            },
        });
    </script>
{% endblock %} 

    