{% extends 'base.html' %}
{% block body %}

    <h3 class="m-3">Rubros y marcas</h3>
    <div class="row m-3">
        {% include 'partials/_rubros.html' %}
        {% include 'partials/_marcas.html' %}
    </div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>
        new DataTable('#marcasTable', {
            pageLength: 10,
            perPageSelect: [10, 25, 50, 100],
            searchable: true,
            sortable: true,
            language: {
                    entries: {
                        _: "entradas",
                        1: "entrada"
                    },
                    sEmptyTable: "No se encontraron resultados",
                    sInfo: "Mostrando _START_ de _END_ de un total de _TOTAL_ registros",
                    sInfoEmpty: "Mostrando 0 de 0 de 0 _ENTRIES-TOTAL_",
                    sLengthMenu: "_MENU_ registros por páginas",
                    sSearch: 'Buscar',
                    sSearchPlaceholder: 'Buscar registros'
                }
            
        });
        new DataTable('#rubrosTable', {
            perPage: 10,
            perPageSelect: [10, 25, 50, 100],
            searchable: true,
            sortable: true,
            language: {
                    entries: {
                        _: "entradas",
                        1: "entrada"
                    },
                    sEmptyTable: "No se encontraron resultados",
                    sInfo: "Mostrando _START_ de _END_ de un total de _TOTAL_ registros",
                    sInfoEmpty: "Mostrando 0 de 0 de 0 _ENTRIES-TOTAL_",
                    sLengthMenu: "_MENU_ registros por páginas",
                    sSearch: 'Buscar',
                    sSearchPlaceholder: 'Buscar registros'
                },
            labels: {
                placeholder: 'Buscar...',
                perPage: '{select} registros por página',
                noRows: 'No se encontraron registros',
                info: 'Mostrando {start} a {end} de {rows} registros',
            },
        });
    </script>
{% endblock %} 

    