{% extends 'base.html' %}

{% block body %}
    <div class="m-3">
        <h2>Listado de stock de sucursales</h2>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="card m-3 col-10">
            <h3 class="m-3">Stock de artículos</h3>
            <div class="card-body">
                
                <div class="row">
                    
                    <div class="col-4 mb-3">
                        <label for="idmarca" class="form-label">Marca</label>
                        <select class="form-select form-select" name="idmarca" id="idmarca">
                            <option >TODOS</option>    
                            {% for lista in lista_marcas %}
                                    <option value="{{ lista.id }}">{{ lista.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="idrubro" class="form-label">Rubro</label>
                        <select class="form-select form-select" name="idrubro" id="idrubro">
                            <option >TODOS</option>    
                            {% for lista in lista_rubros %}
                                    <option value="{{ lista.id }}">{{ lista.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                        <button id="btnFiltrar" class="col-2 m-4 btn btn-exito">Consultar</button>
                    </div>    
                </div>    
        </div>
    </div>

    <div class="card m-3"  >
        <h3 class="m-3">Stock de artículos</h3>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display table table-bordered table-striped" id="dataTable">
                    <thead>
                        <tr>
                            {% for columna in columnas %}
                                <th scope="col">{{ columna }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    
    <script>
        $(document).ready(function () {
            // Obtener las columnas dinámicas desde el backend
            const columnass = {{ columnas | tojson }};

            // Construir la configuración de las columnas para DataTables
            const columnsDefs = columnass.map((columna, index) => {
                if (['id', 'codigo', 'detalle', 'marca', 'rubro'].includes(columna)) {
                    if (columna === 'codigo') { // Si la columna es 'codigo'
                        return {
                            data: columna, // El nombre de la columna
                            render: function (data, type, row) {
                                return `<a href="{{ url_for('articulos.update_articulo', id='') }}${row.id}">${data}</a>`; // Enlace al detalle del artículo
                            }
                        }
                    }
                    else {
                        return {
                            data: columna, // El nombre de la columna
                            
                        }
                    }    

                }
                else {
                    return {
                        data: columna, // El nombre de la columna
                        className: 'text-center', // Centrar el contenido
                        render: function (data, type, row) {
                            // Personalizar el renderizado de las columnas si es necesario
                            if (data < 0) {
                                color = 'red';
                            } else {
                                color = 'black';
                            }
                            return `<span style="color: ${color}; font-weight: bold;">${parseFloat(data).toFixed(2)}</span>`;
                            
                        }
                    };
                }    
            });

            // Inicializar DataTables
            const table = new DataTable('#dataTable', {
                processing: true,
                serverSide: true,
                ajax: {
                    url: "{{ url_for('articulos.api_lst_stock_sucursales') }}",
                    type: 'GET',
                    data: function (d) {
                        d.idmarca = $('#idmarca').val(); // Pasar el ID de la marca seleccionada
                        d.idrubro = $('#idrubro').val(); // Pasar el ID del rubro seleccionado
                    },
                    error: function (xhr, error, thrown) {
                        console.error('Error en la llamada Ajax:', error, thrown);
                        alert('Ocurrió un error al cargar los datos. Por favor, intenta nuevamente.', error);
                    }
                },
                columns: columnsDefs,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                },
                pageLength: 25,
                lengthMenu: [10, 25, 50, 100]
            });
            // Recargar la tabla cuando se haga clic en el botón "Aplicar Filtros"
            $('#btnFiltrar').click(function () {
                const idrubro = $('#idrubro').val();
                const idmarca = $('#idmarca').val();
                if ((!idrubro) || (!idmarca)) {
                    alert('Por favor, selecciona un rubro o una marca.');
                    return;
                }
                table.ajax.reload(); // Recargar la tabla con los nuevos filtros
            });
        });
    </script>

{% endblock %}    