{% extends 'base.html' %}
{% block body %}
    {% if articulo.id %}
        <form action="{{ url_for('articulos.update_articulo', id=articulo.id) }}" id="articulo_form" method="post" enctype="multipart/form-data" onsubmit="return validar();" >
    {% else %}
        <form action="{{ url_for('articulos.update_articulo', id=0) }}" id="articulo_form" method="post" enctype="multipart/form-data" onsubmit="return validar();" >
    {% endif %}
    <div class="row justify-content-md-center m-3">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            {% if articulo.id %}
                                <h3 class="m-3">Modificacion de artículos</h3>
                            {% else %}
                                <h3 class="m-3 text-uno-bold">Nuevo artículos</h3>
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="mb-3 col-1"> 
                                        <label for="id">#</label>
                                        <input class="form-control" type="text" name="id" id="id" value="{{ articulo.id }}" readonly>
                                    </div>
                                    <div class="mb-3 col-3"> 
                                        <label for="codigo">Código<span style="color: red">*</span></label>
                                        <input class="form-control" type="text" name="codigo" id="codigo" placeholder="Ingrese el código" value="{{ articulo.codigo }}">
                                    </div>
                                    <div class="mb-3 col-8">
                                        <label for="detalle">Detalle<span style="color: red">*</span></label>
                                        <input class="form-control" type="text" name="detalle" id="detalle" placeholder="Ingrese el detalle" value="{{ articulo.detalle }}">
                                    </div>    
                                </div>    
                                
                                <div class="row">
                                    <div class="mb-3 col-3">
                                        <label for="precio">Costo<span style="color: red">*</span></label>
                                        <input class="form-control precio" type="number" step="0.01" min="0" name="costo" id="costo" placeholder="Ingrese el precio" value="{{ articulo.costo }}" required>
                                    </div>
                                    
                                    <div class="col-3 mb-3">
                                        <label for="impint">Imp. int.<span style="color: red">*</span></label>
                                        {% if articulo.impint %}
                                            <input class="form-control precio" type="number" step="0.01" min="0" name="impint" id="impint" placeholder="Ingrese imp. internos" value="{{ articulo.impint }}" readonly>
                                        {% else %}
                                            <input class="form-control precio" type="number" step="0.01" min="0" name="impint" id="impint" placeholder="Ingrese imp. internos" value="0" required >
                                        {% endif %}
                                    </div>    
                                    <div class="col-3 mb-3">
                                        <label for="exento">% Exento<span style="color: red">*</span></label>
                                        {% if articulo.exento %}
                                            <input class="form-control precio" type="number" step="0.01" min="0" name="exento" id="exento" placeholder="Ingrese % exento" value="{{ articulo.exento }}" readonly>
                                        {% else %}
                                            <input class="form-control precio" type="number" step="0.01" min="0" name="exento" id="exento" placeholder="Ingrese % exento" value="0" required >
                                        {% endif %}
                                    </div>    
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-2">
                                        <label for="idiva">IVA:<span style="color: red">*</span></label>
                                        <select class="form-control" id="idiva" name="idiva" required value="{{ articulo.idiva }}">
                                        {% for iva in ivas %}
                                            <option value="{{ iva.id }}">{{ iva.descripcion }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>    
                                    <div class="mb-3 col-2">
                                        <label for="idib">Ing brutos:<span style="color: red">*</span></label>
                                        <select class="form-control" id="idib" name="idib" required value="{{ articulo.idib }}">
                                        {% for ib in ibs %}
                                            <option value="{{ ib.id }}">{{ ib.descripcion }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>    
                                    <div class="mb-3 col-7">
                                        <label for="idmarca">Marca:</label>
                                        <select class="form-control" id="idmarca" name="idmarca" required>
                                        {% for marca in marcas %}
                                            {% if marca.id == articulo.idmarca %}
                                                <option value="{{ marca.id }}" selected>{{ marca.nombre }}</option>
                                            {% else %}
                                                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    </div>    
                                </div>    
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label for="idtipoarticulo">Tipo de articulo:<span style="color: red">*</span></label>
                                        <select class="form-select" id="idtipoarticulo" name="idtipoarticulo" required>
                                        {% for tipoarticulo in tipoarticulos %}
                                            {% if articulo.idtipoarticulo == tipoarticulo.id %}
                                                <option value="{{ tipoarticulo.id }}" selected>{{ tipoarticulo.nombre }}</option>
                                            {% else %}
                                                <option value="{{ tipoarticulo.id }}">{{ tipoarticulo.nombre }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    </div>    
                                    <div class="col-6 mb-3 form-check">
                                        {% if articulo.es_compuesto == 1 %}
                                            <input class="form-check-input" type="checkbox" id="es_compuesto" name="es_compuesto" checked>
                                        {% else %}
                                            <input class="form-check-input" type="checkbox" id="es_compuesto" name="es_compuesto">
                                        {% endif %}    
                                        <label for="es_compuesto" class="form-check-label">Es Compuesto</label>
                                    </div>    
                                </div>    
                                
                                <div class="row">
                                    
                                    <div class="col-7 mb-3">
                                        <label for="idrubro">Rubro:<span style="color: red">*</span></label>
                                        <select class="form-control" id="idrubro" name="idrubro" required>
                                        {% for rubro in rubros %}
                                            {% if rubro.id == articulo.idrubro %}
                                                <option value="{{ rubro.id }}" selected>{{ rubro.nombre }}</option>
                                            {% else %}
                                                <option value="{{ rubro.id }}">{{ rubro.nombre }}</option>
                                            {% endif %}    
                                        {% endfor %}
                                        </select>
                                    </div>    
                                    
                                </div>
                                <label class="text-dos-bold">Datos obligatorios <span style="color: red">*</span></label>
                            </div>  
                        </div>
                    </div>    
                </div>
            </div>    
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {% if articulo.imagen %}
                            <img src="{{ url_for('static', filename='img/articulos/' + articulo.imagen) }}" alt="Imagen del artículo" class="img-fluid">
                        {% else %}    
                            <label>Artículo sin imagen</label>
                        {% endif %}
                        <div class="col-12 mb-3">
                            <label for="imagen">Imagen:</label>
                            <input class="form-control" type="file" id="imagen" name="imagen" value="{{ articulo.imagen }}">
                        </div>    
                    </div>    
                </div>

            </div>
        </div>        
        <div class="row mt-3">
            <div class="col-6">
                <div class="card mb-3">
                    <h5 class="m-3">Precios de venta al público</h5>
                    <div class="card-body">
                        <div class="precios" id="precios">
                            {% for lista in listas_precio %}
                                <div class="row" id="precio">
                                    <div class="col-md-1 mb-3">
                                        <label for="idlista{{loop.index}}">#Lista<span style="color: red">*</span></label>
                                        <input class="form-control" type="text" name="precio[{{loop.index}}][idlista]" id="precio[{{loop.index}}][idlista]" value="{{ lista.id }}" readonly>
                                    </div> 
                                    <div class="col-md-3 mb-3">
                                        <label for="lista{{loop.index}}">Lista<span style="color: red">*</span></label>
                                        <input class="form-control" type="text" name="precio[{{loop.index}}][lista]" id="precio[{{loop.index}}][lista]" value="{{ lista.nombre }}" readonly>
                                    </div>    

                                    <div class="col-md-3 mb-3">
                                        <label for="pvp{{loop.index}}">Precio V.P.<span style="color: red">*</span></label>
                                        <input class="form-control precio" type="number" name="precio[{{loop.index}}][precio]" id="precio[{{loop.index}}][precio]" step="0.01" placeholder="Ingrese el precio de V.P." value="{{ lista.precio | default(0)| round(2) }}" required >
                                    </div>    
                                    <div class="col-md-2 mb-3">
                                        <label for="markaup{{loop.index}}">Markup<span style="color: red">*</span></label>
                                        <input class="form-control markup" type="number" name="precio[{{loop.index}}[markup]" id="precio[{{loop.index}}][markup]" value="{{ lista.markup | round(2) }}">
                                    </div>    
                                    <div class="col-md-3 mb-3">
                                        <label for="ult_modif{{loop.index}}">Ult. mod.</label>
                                        <input class="form-control ult_modif" type="date" name="precio[{{loop.index}}[ult_mofi]" id="precio[{{loop.index}}][ult_modif]" value="{{ lista.ult_modificacion }}" readonly>
                                    </div>    
                                </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>    
            <div class="col-6">    
                <div>
                    <div class="card">
                        <h5 class="m-3">Stock de artículos</h5>
                        <div class="card-body">
                            {% for stock in stocks %}
                                <div class="row">
                                    <div class="col-2">
                                        <label for="idstock">#Id</label>
                                        <input type="text" class="form-control" value="{{ stock.id }}" name="stock[{{loop.index}}][id]" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label for="stock">Stock</label>
                                        <input type="text" class="form-control" value="{{ stock.nombre_sucursal }}" readonly>
                                    </div>
                                    <div class="col-2">
                                        <label for="stock">Stock</label>
                                        {% if stock.stock_actual < 0 %}
                                            <input type="text" class="form-control" value="{{ stock.stock_actual | round(2) }}" readonly style="color: red">
                                        {% else %}
                                            <input type="text" class="form-control" value="{{ stock.stock_actual | round(2) }}" readonly>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="stock">Stock deseable</label>
                                        <input type="text" class="form-control" id="deseable" name="stock[{{loop.index}}][deseable]" value="{{ stock.stock_deseable | round(2) }}">
                                    </div>
                                    <div class="col-6">
                                        <label for="stock">Stock maximo</label>
                                        <input type="text" class="form-control" id="maximo" name="stock[{{loop.index}}][maximo]" value="{{ stock.stock_maximo | round(2) }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>    
                </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="card m-3">
        <div class="card-body">
            <div class="row">
                <button class="btn btn-exito col-2 m-3" type="submit">Grabar</button>
                <a class="btn btn-peligro col-2 m-3" href="{{ url_for('articulos.articulos') }}">Cancelar</button>
                {% if articulo.id %}
                    <a class="btn btn-primario col-2 m-3" href="{{ url_for('articulos.componer_art', id=articulo.id) }}">Componer</a>
                {% else %}
                    <a class="btn btn-primario col-2 m-3" href="#" enabled="false">Componer</a>
                {% endif %}
            </div>
        </div>
    </div>      
    </form>
    <script src="{{ url_for('static', filename='js/upd_articulos.js')}}"></script>
    <script src="{{ url_for('static', filename='js/utilidades.js')}}"></script>
    <script src="{{ url_for('static', filename='js/articulos.js')}}"></script>
    
{% endblock %}

