{% extends 'base.html' %}
{% block body %}

{% include 'partials/_modal-seleccion-ptovta.html' %}

<h3 class="m-3">Cuenta corriente: <span style="color:rebeccapurple">{{ nomCliente }}</span></h3>
<div class="row justify-content-md-center m-3">
    <div class="col-12">
        {% include 'partials/_ctacte-cli.html' %}
    </div>
</div>
<div class="row justify-content-md-center m-3"></div>
    <div class="col-12">
        <div class="card">
            <div class="table-responsive" >
                <table class="table table-striped table-hover table-borderless table-dark align-middle">
                    <thead class="table-light">
                        {% if saldoTotal > 0 %}
                            <caption class="ml-3" style="font-style: italic; font-weight: bold; color:red">
                                Movimientos de cuenta corriente de clientes. Saldo deudor: {{ "${:,.2f}".format(saldoTotal) }}
                        {% else %}    
                            <caption class="ml-3" style="font-style: italic; font-weight: bold;">    
                                Movimientos de cuenta corriente de clientes. Saldo acreedor: {{ "${:,.2f}".format(saldoTotal) }}
                        {% endif %}    
                        </caption>
                        <tr>
                            <th>#ID</th>
                            <th>Fecha</th>
                            <th>Debe</th>
                            <th>Haber</th>
                            <th>Acciones</th>
                        </tr>   
                    </thead>
                    <tbody class="table-group-divider">
                        {% for movimiento in movimientos %}
                            <tr class="table-light">
                                <td>{{ movimiento.id }}</td>
                                <td>{{ movimiento.fecha.strftime('%d-%m-%Y') }}</td>
                                <td>{{ "${:,.2f}".format(movimiento.debe) }}</td>
                                <td>{{ "${:,.2f}".format(movimiento.haber) }}</td>
                                {% if (movimiento.idcomp != None)and(movimiento.idcomp > 0) %}
                                    {% if movimiento.debe > 0 %}
                                        <td><a href="{{ url_for('ventas.ver_factura_vta', id=movimiento.idcomp) }}" class="btn btn-secondary">Ver factura</a></td>
                                    {% else %}
                                        <td><a href="{{ url_for('ventas.ver_factura_vta', id=movimiento.idcomp) }}" class="btn btn-secondary">Ver recibo</a></td>
                                    {% endif %}
                                {% else %}    
                                  <td>Sin ref.</td>
                                {% endif %}

                            </tr>    
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                </table>
            </div>
            
            
        </div>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='js/recibo_ctacte_cli.js') }}"></script>

{% endblock %}