{% extends 'base.html' %}
{% block body %}

<div class="row justify-content-center align-items-center g-2 m-3">
    <div class="col-8">
        <div class="card">
            <h3 class="m-3">Saldos de cta cte de clientes</h3>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-borderless table-dark align-middle">
                        <thead class="table-light">
                            <caption>
                                Saldos de cuenta corriente
                            </caption>
                            <tr>
                                <th>ID Cliente</th>
                                <th>Cliente</th>
                                <th>Total Debe</th>
                                <th>Total Haber</th>
                                <th>Saldo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for saldo in saldos %}
                                <tr class="table-light">
                                    <td scope="row">{{ saldo.idcliente }}</td>
                                    <td>{{ saldo.nombre }}</td>
                                    <td>{{ "${:,.2f}".format(saldo.total_debe) }}</td>
                                    <td>{{ "${:,.2f}".format(saldo.total_haber) }}</td>
                                    {% if saldo.total_debe - saldo.total_haber > 0 %}
                                        <td style="color:red;">{{ "${:,.2f}".format(saldo.total_debe - saldo.total_haber) }}</td>
                                    {% else %}
                                        <td style="color:green;">{{ "${:,.2f}".format(saldo.total_debe - saldo.total_haber) }}</td>
                                    {% endif %}
                                    <td> <a class="btn btn-dark" href="{{ url_for('ctactecli.lst_cta_cte_cli', id=saldo.idcliente )}}"> Cta. cte. cliente </a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            
                        </tfoot>
                    </table>
                </div>
            </div>    
        </div>          

    </div>            
</div>

{% endblock %}