{% extends 'base.html'%}
{% block body %}

    <div class="row m-3">
        <div class="col-md-12">
            {% include 'partials/_add-clientes.html' %}
        </div>  
    </div>       
    <div class="row m-3">
        <div class="col-md-12">
            {% include 'partials/_lst-clientes.html' %}
        </div>     
    </div>      

    <script src="{{ url_for('static', filename='vendor/datatable/jquery-3.7.1.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datatable/dataTables.js')}}"></script>
    
    <script>
        document.getElementById("documento").addEventListener("blur", function() {
            checkCuit();
        });

        document.getElementById("documento").addEventListener("blur", function() {
            checkCuit();
        });

        async function checkCuit() {
            const cuit = document.getElementById("documento").value;
            const tipoDoc = document.getElementById("tipo_doc").value;

            response = await fetch(`/checkCuit/${cuit}/${tipoDoc}`);
            const data = await response.json();

            let cuitValido = data.cuitValido;
            if (!cuitValido) {
                alert("El CUIT ingresado no es válido");
            } 
        }
            
        new DataTable('#dataTable', {
            iDisplayLength: 50,
            language: {
                entries: {
                    _: "entradas",
                    1: "entrada"
                },
                sInfo: "Mostrando _START_ de _END_ de un total de _TOTAL_ _ENTRIES-TOTAL_",
                sInfoEmpty: "Mostrando 0 de 0 de 0 _ENTRIES-TOTAL_",
                sInfoFiltered: "(Filtrando _MAX_ de un total de _ENTRIES-MAX_)",
                sLengthMenu: "_MENU_ _ENTRIES_ por página",
                sSearch: 'Buscar',
                sSearchPlaceholder: 'Buscar registros'
            }
        });
        
    </script>
{% endblock %}    
