{% extends 'base.html'%}
{% block body %}

    <div class="row m-3">
        <div class="col-md-12">
            {% include 'partials/_add-clientes.html' %}
        </div>  
    </div>       
    <div class="row m-3">
        <div class="col-md-12">
            {% include 'partials/_lst-clientes.html' %}
        </div>     
    </div>      

    <script src="/static/vendor/datatable/jquery-3.7.1.js"></script>
    <script src="/static/vendor/datatable/dataTables.js"></script>
    
    <script>
            
        new DataTable('#dataTable', {
            iDisplayLength: 50,
            language: {
                entries: {
                    _: "entradas",
                    1: "entrada"
                },
                sInfo: "Mostrando _START_ de _END_ de un total de _TOTAL_ _ENTRIES-TOTAL_",
                sInfoEmpty: "Mostrando 0 de 0 de 0 _ENTRIES-TOTAL_",
                sInfoFiltered: "(Filtrando _MAX_ de un total de _ENTRIES-MAX_)",
                sLengthMenu: "_MENU_ _ENTRIES_ por página",
                sSearch: 'Buscar',
                sSearchPlaceholder: 'Buscar registros'
            }
        });
        
    </script>
{% endblock %}    
